.vending-machine-slots {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vending-machine-slot {
  width: 300px;
  height: 100%;
  margin-top: 14px;
  border-radius: 2%;
  text-align: center;
  background-color: white;
  padding: 10px 16px 16px 16px;
  transition: all 0.3s ease-out;
}

.vending-machine-slot:hover {
  transform: scale(1.04);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.vending-machine-slot:hover .slot-status-badge {
  display: block;
}

.image-container {
  width: 98%;
  margin: auto;
  height: 200px;
  display: flex;
  padding-top: 10%;
  overflow: hidden;
  align-items: center;
  padding-bottom: 10%;
  justify-content: center;
  border-bottom: solid 1px rgb(185, 185, 185);
}

.image-container img {
  width: 100%; 
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease-out;
}

.image-container img:hover {
  width: 110%; 
  height: 110%;
}

.item-name-text {
  font-size: 25px;
  text-indent: 5px;
  text-align: left;
  line-height: 7px;
  font-weight: 300;
}

.item-description-text {
  font-size: 20px;
  text-indent: 7px;
  text-align: left;
  line-height: 6px;
  font-weight: 100;
}

.item-price-text {
  font-size: 20px;
  text-indent: 7px;
  text-align: left;
  line-height: 6px;
  font-weight: 300;
}

.slot-status-badge {
  width: 278px;
  height: 25px;
  padding: 10px;
  display: none;
  color: white;
  font-size: 20px;
  font-weight: 390;
  margin-top: 100px;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 0.4px;
  transition: opacity 0.3s ease;
}

.available {
  opacity: 0%;
}

.out-of-service {
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.816);
}

.checkout-button {
  float: right;
  color: white;
  font-size: 16px;
  padding: 15px 25px;
  text-align: center;
  border-radius: 45px;
  border: 1px solid white;
  transition: all 0.2s ease;
  background-color: black;
}

.checkout-button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.checkout-button:active {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.checkout-button:disabled {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

.checkout-button:disabled:hover {
  color: white;
  cursor: not-allowed;
  border: solid 1px white;
  background-color: #d8d8d8;
}