.navbar {
    top: 0;
    width: 100%;
    z-index: 1000;
    position: sticky;
    justify-content: left;
    background-color: white;
    font-family: '-apple-system', sans-serif;
}

.navbar ul {
    margin: 0px;
    display: flex;
    padding-left: 7px;
    list-style-type: none;
    justify-content: left;
}

.navbar li {
    color: black;
    font-weight: 400;
}

.logo-image-container {
    justify-content: center;
}

.logo-image-container img {
    width: 70px;
    transition: all 1s ease;
    margin: 20px 5px 17px 50px;
}

.logo-image-container img:hover {
    transform: scale(1.18);
}

.vending-machine-name {
    cursor:default;
    font-size: 42px;
    margin: 28px 0px 0px 15px;
}

.vending-machine-name::after {
    left: 500px;
    left: 5%;
    width: 0;
    height: 1px;
    content: '';
    bottom: 30px;
    margin-left: 225px;
    position: absolute;
    background-color: #888888;
    transform: translateX(-25%);
    transition: width 0.5s ease, left 0.5s ease;
}

.vending-machine-name:hover::after {
    left: 0;
    width: 310px;
}

.vending-machine-slogan {
    cursor: default;
    font-size: 15px;
    text-indent: 400px;
    display: inline-block;
    margin: 53px 0px 0px 15px;
    transition: all 1s ease-out;
}

.vending-machine-slogan::after {
    left: 0;
    width: 0;
    opacity: 0;
    content: '';
    height: 1px;
    bottom: 35px;
    position: absolute;
    margin-left: 978px;
    transform-origin: right;
    background-color: #888888;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-out;
}

.vending-machine-slogan:hover::after {
    opacity: 1;
    width: 62px;
    transform-origin: left;
}

.space-after-logo {
    cursor: default;
    text-indent: 350px;
    display: inline-block;
    margin: 53px 0px 0px -20px;
}

.vending-machine-logout {
    color: #000;
    cursor: pointer;
    font-size: 15px;
    text-indent: 20px;
    display: inline-block;
    margin: 53px 70px 0px 0px;
    text-decoration: none !important;
}

.user-menu-logout {
    color: black;
    margin-top: 0px;
    text-decoration: none;
    transition: all 0.4s ease-out;
}

.user-menu-logout:hover {
    margin-top: 5px;
}

.vending-machine-menu {
    cursor: default;
    font-size: 15px;
    text-indent: 20px;
    display: inline-block;
    margin: 53px 0px 0px 15px;
    transition: all 1s ease-out;
}

.menu-link {
    color: black;
    text-decoration: none;
    transition: all 0.4s ease-out;
}

.menu-link:hover {
    color: black;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}

.vending-machine-menu.active .menu-link {
    color: black;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}

.menu-link-logout {
    color: black;
    margin-top: 0px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-out;
}

.menu-link-logout:hover {
    margin-top: 5px;
}